
@{
    ViewData["Title"] = "CreateAboutItemWithCerebras";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Cerebras LLM Hakkımda Ögeleri Yazı Örneği</h1>

<hr />

<h3>@ViewBag.AboutText</h3>


